@import "../helpers/mixins";
@import "../helpers/global-rules";
@import "../helpers/variables";
.team-members {
  padding: $section-padding 0;
}

.member-card {
  $this: &;
  $padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: $padding 0;
  @include card-2;
  @include transition(0.3s);

  @include keyframes-animation(getting-grey) {
    to {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }

  &::before {
    background-color: #ddd;
    z-index: -1;
    @include overlay-begin(false);
    @include border-radius(10px);
    @include transition($primary-transition);
  }

  &::after {
    z-index: -2;
    background-color: $section-background;
    @include overlay-begin(false);
    width: 90%;
    @include border-radius(10px);
  }

  &:hover {
    &::before {
      width: 90%;
    }

    #{$this}__image {
      @include animation(getting-grey 0.3s linear both);
    }
  }

  .media {
    display: flex;
    padding-top: 40px;
    margin-bottom: 10px;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    border: none;
    @include border-radius(10px);
  }

  &__title {
    color: $primary-color;
    font-size: 23px;
    margin-left: calc(10% + #{$padding});
  }

  &__desc {
    margin-left: calc(10% + #{$padding});
  }

  &--social {
    width: 60px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    i {
      color: grey;
    }

    a:hover i {
      color: $primary-color;
    }
  }
}
