$primary-color: #2196f3;
$section-background: #ececec;
$section-padding: 100px;
$primary-transition: 0.3s;
$red-card-color: #f44036;
$green-card-color: #009688;
$blue-card-color: #03a9f4;
$font-family: "Cairo", sans-serif;
